<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Cataloging &rsaquo; 008 builder</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body style="padding:1em;">
<h3> 008 Fixed-length data elements--General information</h3>
<form name="f_pop" onsubmit="report()">
<input type="hidden" name="plugin_name" value="marc21_field_008.pl" />
<table>
	<tr>
		<td>1-5 Date entered on file (auto-filled)</td>
		<td><input type="text" name="f1" maxlength="6" size="7" value="<!-- TMPL_VAR name="f1" -->" /></td>
	</tr>
	<tr>
		<!-- 06 Type of date / Publication status -->
		<td><label for="f6">06- Datotype / Publiseringsstatus</label></td>
		<td>
			<!-- NO DATE; B.C. DATE -->

			<select name="f6" id="f6" size="1">
			<!-- TMPL_IF name="f60" -->
                                <option value=" " selected="selected">#- Tom</option>
                        <!-- TMPL_ELSE -->
                                <option value=" ">#- Tom</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f6b" -->
				<option value="b" selected="selected">b- Dato før Kristus</option>
			<!-- TMPL_ELSE -->
				<option value="b">b- Dato før Kristus</option>
			<!-- /TMPL_IF -->

			<!-- SINGLE DATE -->
			<!-- TMPL_IF name="f6e" -->
                                <option value="e" selected="selected">e- Nøyaktig dato</option>
                        <!-- TMPL_ELSE -->
                                <option value="e">e- Nøyaktig dato</option>
                        <!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6s" -->
                                <option value="s" selected="selected">s- Enkeltdato</option>
                        <!-- TMPL_ELSE -->
                                <option value="s">s- Enkeltdato</option>
                        <!-- /TMPL_IF -->

			<!-- MULTIPLE DATES -->
			<!-- TMPL_IF name="f6i" -->
                                <option value="i" selected="selected">i- Iberegnet overtakelsesdatoen</option>
                        <!-- TMPL_ELSE -->
                                <option value="i">i- Iberegnet overtakelsesdatoen</option>
                        <!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6k" -->
                                <option value="k" selected="selected">K- Antall år med fellessamlinger</option>
                        <!-- TMPL_ELSE -->
                                <option value="k">K- Antall år med fellessamlinger</option>
                        <!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6m" -->
                                <option value="m" selected="selected">m- Flere datoer</option>
                        <!-- TMPL_ELSE -->
                                <option value="m">m- Flere datoer</option>
                        <!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6p" -->
                                <option value="p" selected="selected">p- Distribusjons-/produksjonsdato</option>
                        <!-- TMPL_ELSE -->
                                <option value="p">p- Distribusjons-/produksjonsdato</option>
			<!-- /TMPL_IF -->
	
			<!-- TMPL_IF name="f6r" -->
				<option value="r" selected="selected">r- Gjenopptrykk / opprinnelig dato</option>
			<!-- TMPL_ELSE -->
				<option value="r">r- Gjenopptrykk / opprinnelig dato</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f6t" -->
                                <option value="t" selected="selected">t- Utgivelsesår og opphavsrettsår</option>
                        <!-- TMPL_ELSE -->
                                <option value="t">t- Utgivelsesår og opphavsrettsår</option>
                        <!-- /TMPL_IF -->

			<!-- UNKNOWN DATES -->
			<!-- TMPL_IF name="f6n" -->
                                <option value="n" selected="selected">n- Ukjente data</option>
                        <!-- TMPL_ELSE -->
                                <option value="n">n- Ukjente data</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f6q" -->
                                <option value="q" selected="selected">q- Usikker dato</option>
                        <!-- TMPL_ELSE -->
                                <option value="q">q- Usikker dato</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f6c" -->
                                <option value="c" selected="selected">c- Periodika som alt er publisert</option>
                        <!-- TMPL_ELSE -->
                                <option value="c">c- Periodika som alt er publisert</option>
                        <!-- /TMPL_IF -->
				
			<!-- TMPL_IF name="f6d" -->
                                <option value="d" selected="selected">d- Periodika som er gått inn</option>
                        <!-- TMPL_ELSE -->
                                <option value="d">d- Periodika som er gått inn</option>
                        <!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6u" -->
                                <option value="u" selected="selected">u- Periodika, ukjent status</option>
                        <!-- TMPL_ELSE -->
                                <option value="u">u- Periodika, ukjent status</option>
                        <!-- /TMPL_IF -->


	
			</select>
		</td>
	</tr>
	<tr>
		<td><label for="f710">7-10 Dato1 / Startdato for publikasjonen</label> </td>
		<td>
			<input type="text" name="f710" id="f710" size="4" maxlength="4" value="<!-- TMPL_VAR NAME="f710" -->"/>
		</td>
	</tr>
	<tr>
                <td><label for="f1114">11-14 Dato2 / sluttdato for publikasjonen</label> </td>
                <td>
                        <input type="text" name="f1114" id="f1114" size="4" maxlength="4" value="<!-- TMPL_VAR NAME="f1114" -->"/>                </td>
        </tr>

	<tr>
                <td><label for="f1517">15-17 Utgivelsessted eller sted for produksjon eller utførelse</label> See <a href="http://www.loc.gov/marc/countries/countries_code.html">MARC Code List for Countries</a> </td>
                <td>
                        <input type="text" name="f1517" id="f1517" size="3"  maxlength="3" value="<!-- TMPL_VAR NAME="f1517" -->"/>
                </td>
        </tr>
	 <tr>
                <td><label for="f1821">18-21 Illustrasjoner</label> </td>
		<td>(autofyll fra 300)<input type="hidden" name="f1821" id="f1821" size="4"  maxlength="4" value="<!-- TMPL_VAR NAME="f1821" -->"/></td>
        </tr>
	<tr>
                <!-- 22 Target Audience -->
                <td><label for="f22">22- Målgruppe</label></td>
                <td>                        
                <select name="f22" id="f22" size="1">

                        <!-- TMPL_IF name="f22|" -->
                        <option value="|" selected="selected">|- Standard</option>
                        <!-- TMPL_ELSE -->
                        <option value="|">|- Standard</option>
                        <!-- /TMPL_IF -->
			<!-- TMPL_IF name="f220" -->
                        <option value=" " selected="selected">#- Ukjent eller ikke angitt</option>
                        <!-- TMPL_ELSE -->
                        <option value=" ">#- Ukjent eller ikke angitt</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f22a" -->
                         <option value="a" selected="selected">a- Førskole</option>
	                <!-- TMPL_ELSE -->
			<option value="a">a- Førskole</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f22b" -->
                         <option value="b" selected="selected">b- Primær</option>
                        <!-- TMPL_ELSE -->
                        <option value="b">b- Primær</option>
                        <!-- /TMPL_IF -->	

			<!-- TMPL_IF name="f22c" -->
                         <option value="c" selected="selected">c- Grunn- og ungdomsskole</option>
                        <!-- TMPL_ELSE -->
                        <option value="c">c- Grunn- og ungdomsskole</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f22d" -->
                         <option value="d" selected="selected">d- Videregående</option>
                        <!-- TMPL_ELSE -->
                        <option value="d">d- Videregående</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f22e" -->
                         <option value="e" selected="selected">e- Voksen</option>
                        <!-- TMPL_ELSE -->
                        <option value="e">e- Voksen</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f22f" -->
                         <option value="f" selected="selected">f- Spesialisert</option>
                        <!-- TMPL_ELSE -->
                        <option value="f">f- Spesialisert</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f22g" -->
                         <option value="g" selected="selected">g- Generelt</option>
                        <!-- TMPL_ELSE -->
                        <option value="g">g- Generelt</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f22j" -->
                         <option value="j" selected="selected">j- Ungdom</option>
                        <!-- TMPL_ELSE -->
                        <option value="j">j- Ungdom</option>
                        <!-- /TMPL_IF -->
		</select>
		</td>
	</tr>
	<tr>
                <!-- 23 Form of an item -->
                <td><label for="f23">23- Materialtype</label></td>
                <td>
                <select name="f23" id="f23" size="1">

                        <!-- TMPL_IF name="f230" -->
                        <option value=" " selected="selected">#- Ingen av de følgende</option>
                        <!-- TMPL_ELSE -->
                        <option value=" ">#- Ingen av de følgende</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f23a" -->
                        <option value="a" selected="selected">a- Mikrofilm</option>
                        <!-- TMPL_ELSE -->
                        <option value="a">a- Mikrofilm</option>
                        <!-- /TMPL_IF -->
			
			<!-- TMPL_IF name="f23b" -->
                        <option value="b" selected="selected">b- Microform</option>
                        <!-- TMPL_ELSE -->
                        <option value="b">b- Microform</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f23c" -->
                        <option value="c" selected="selected">a- Microopaque</option>
                        <!-- TMPL_ELSE -->
                        <option value="c">a- Microopaque</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f23d" -->
                        <option value="d" selected="selected">d- Storskrift</option>
                        <!-- TMPL_ELSE -->
                        <option value="d">d- Storskrift</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f23f" -->
                        <option value="f" selected="selected">f- Blindeskrift</option>
                        <!-- TMPL_ELSE -->
                        <option value="f">f- Blindeskrift</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f23r" -->
                        <option value="r" selected="selected">r- Vanlig trykkreproduksjon</option>
                        <!-- TMPL_ELSE -->
                        <option value="r">r- Vanlig trykkreproduksjon</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f23s" -->
                        <option value="s" selected="selected">s- Elektronisk</option>
                        <!-- TMPL_ELSE -->
                        <option value="s">s- Elektronisk</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f23!" -->
                        <option value="!" selected="selected">!- Intet forsøk på å kode</option>
                        <!-- TMPL_ELSE -->
                        <option value="!">!- Intet forsøk på å kode</option>
                        <!-- /TMPL_IF -->
		</select>
		</td>
	</tr>
	<tr>
                <td><label for="f2427">24-27 Innholdstype</label> </td>
                <td>(Derivert verdi)
                        <input type="hidden" name="f2427" id="f2427" size="4" maxlength="4" value="<!-- TMPL_VAR NAME="f2427" -->"/>                </td>
        </tr>
        <tr>
                <td><label for="f28">28- Offentlig utgivelse</label></td>
                <td>
                <select name="f28" id="f28" size="1">                                    
                        <!-- TMPL_IF name="f280" -->
                        <option value=" " selected="selected">#- Ikke en offentlig publikasjon</option>
                        <!-- TMPL_ELSE -->
                        <option value=" ">#- Ikke en offentlig publikasjon</option>
                        <!-- /TMPL_IF -->
			
                        <!-- TMPL_IF name="f28a" -->
                        <option value="a" selected="selected">a- Selvstendig eller halvveis selvstendig komponent</option>
                        <!-- TMPL_ELSE -->
                        <option value="a">a- Selvstendig eller halvveis selvstendig komponent</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f28c" -->
                        <option value="c" selected="selected">c- På flere steder</option>
                        <!-- TMPL_ELSE -->
                        <option value="c">c- På flere steder</option>
                        <!-- /TMPL_IF -->
			
                        <!-- TMPL_IF name="f28f" -->
                        <option value="f" selected="selected">f- Statlig/nasjonal</option>
                        <!-- TMPL_ELSE -->
                        <option value="f">f- Statlig/nasjonal</option>
                        <!-- /TMPL_IF -->


                        <!-- TMPL_IF name="f28i" -->
                        <option value="i" selected="selected">i- Internasjonal</option>
                        <!-- TMPL_ELSE -->
                        <option value="i">i- Internasjonal</option>
                        <!-- /TMPL_IF -->


                        <!-- TMPL_IF name="f28l" -->
                        <option value="l" selected="selected">I- Lokal</option>
                        <!-- TMPL_ELSE -->
                        <option value="l">I- Lokal</option>
                        <!-- /TMPL_IF -->

			
                        <!-- TMPL_IF name="f28m" -->
                        <option value="m" selected="selected">m- Flere tilstander</option>
                        <!-- TMPL_ELSE -->
                        <option value="m">m- Flere tilstander</option>
                        <!-- /TMPL_IF -->
			
                        <!-- TMPL_IF name="f28o" -->
                        <option value="o" selected="selected">o- Statlig utgivelse &ndash; ukjent nivå</option>
                        <!-- TMPL_ELSE -->
                        <option value="o">o- Statlig utgivelse &ndash; ukjent nivå</option>
                        <!-- /TMPL_IF -->
			
                        <!-- TMPL_IF name="f28s" -->
                        <option value="s" selected="selected">s- Stat, provins, område, underordnet osv.</option>
                        <!-- TMPL_ELSE -->
                        <option value="s">s- Stat, provins, område, underordnet osv.</option>
                        <!-- /TMPL_IF -->
			
                        <!-- TMPL_IF name="f28u" -->
                        <option value="u" selected="selected">u- Unknown if item is government publication</option>
                        <!-- TMPL_ELSE -->
                        <option value="u">u- Unknown if item is government publication</option>
                        <!-- /TMPL_IF -->
			
                        <!-- TMPL_IF name="f28z" -->
                        <option value="z" selected="selected">z- Andre</option>
                        <!-- TMPL_ELSE -->
                        <option value="z">z- Andre</option>
                        <!-- /TMPL_IF -->
		</select>
		</td>
	</tr>
        <tr>
                <td><label for="f29">29- Konferanseutgivelse</label></td>
                <td>
                <select name="f29" id="f29" size="1">
                        <!-- TMPL_IF name="f290" -->
                        <option value="0" selected="selected">0 Ikke en konferanseutgivelse</option>
                        <!-- TMPL_ELSE -->
                        <option value="0">0 Ikke en konferanseutgivelse</option>
                        <!-- /TMPL_IF -->
			<!-- TMPL_IF name="f291" -->
                        <option value="1" selected="selected">1- Konferanseutgivelse</option>
                        <!-- TMPL_ELSE -->
                        <option value="1">1- Konferanseutgivelse</option>
                        <!-- /TMPL_IF -->

		</select>
		</td>
	</tr>
	<tr>
                <td><label for="f30">30- Festskrift</label></td>
                <td>
                <select name="f30" id="f30" size="1">
                        <!-- TMPL_IF name="f300" -->
                        <option value="0" selected="selected">0 Ikke et festskrift</option>
                        <!-- TMPL_ELSE -->
                        <option value="0">0 Ikke et festskrift</option>
                        <!-- /TMPL_IF -->
			<!-- TMPL_IF name="f301" -->
                        <option value="1" selected="selected">1 Festskrift</option>
                        <!-- TMPL_ELSE -->
                        <option value="1">1 Festskrift</option>
                        <!-- /TMPL_IF -->
                </select>
                </td>
        </tr>

        <tr>
                <td><label for="f31">31- Register</label></td>
                <td>
                <select name="f31" id="f31" size="1">
                        <!-- TMPL_IF name="f31|" -->
                        <option value="|" selected="selected">|- Standard</option>
                        <!-- TMPL_ELSE -->
                        <option value="|">|- Standard</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f310" -->
                        <option value="0" selected="selected">0 Ingen registre</option>
                        <!-- TMPL_ELSE -->
                        <option value="0">0 Ingen registre</option>
                        <!-- /TMPL_IF -->
                        <!-- TMPL_IF name="f311" -->
                        <option value="1" selected="selected">1- Registeret er tilstede</option>
                        <!-- TMPL_ELSE -->
                        <option value="1">1- Registeret er tilstede</option>
                        <!-- /TMPL_IF -->
                </select>
                </td>
        	</tr>
		<tr><td>32 Ubestemt</td><td></td>
		</tr>
		<tr>
                <td><label for="f33">33- Skjønnlitteratur</label></td>
                <td>
                <select name="f33" id="f33" size="1">
                        <!-- TMPL_IF name="f330" -->
                        <option value="0" selected="selected">0 Ikke skjønnlitteratur</option>
                        <!-- TMPL_ELSE -->
                        <option value="0">0 Ikke skjønnlitteratur</option>
                        <!-- /TMPL_IF -->
                        <!-- TMPL_IF name="f331" -->
                        <option value="1" selected="selected">1 Skjønnlitteratur</option>
                        <!-- TMPL_ELSE -->
                        <option value="1">1 Skjønnlitteratur</option>
                        <!-- /TMPL_IF -->
			<!-- TMPL_IF name="f33c" -->
                        <option value="c" selected="selected">c- Tegneserier</option>
                        <!-- TMPL_ELSE -->
                        <option value="c">c- Tegneserier</option>
                        <!-- /TMPL_IF -->
			
                        <!-- TMPL_IF name="f33d" -->
                        <option value="d" selected="selected">d- Skuespill</option>
                        <!-- TMPL_ELSE -->
                        <option value="d">d- Skuespill</option>
                        <!-- /TMPL_IF -->


                        <!-- TMPL_IF name="f33e" -->
                        <option value="e" selected="selected">e- Essay</option>
                        <!-- TMPL_ELSE -->
                        <option value="e">e- Essay</option>
                        <!-- /TMPL_IF -->

			
                        <!-- TMPL_IF name="f33f" -->
                        <option value="f" selected="selected">f- Romaner</option>
                        <!-- TMPL_ELSE -->
                        <option value="f">f- Romaner</option>
                        <!-- /TMPL_IF -->

			
                        <!-- TMPL_IF name="f33h" -->
                        <option value="h" selected="selected">h- Humor, satirer o.l.</option>
                        <!-- TMPL_ELSE -->
                        <option value="h">h- Humor, satirer o.l.</option>
                        <!-- /TMPL_IF -->
			
                        <!-- TMPL_IF name="f33i" -->
                        <option value="i" selected="selected">i- Purrebrev</option>
                        <!-- TMPL_ELSE -->
                        <option value="i">i- Purrebrev</option>
                        <!-- /TMPL_IF -->
			
                        <!-- TMPL_IF name="f33j" -->
                        <option value="j" selected="selected">j- Noveller</option>
                        <!-- TMPL_ELSE -->
                        <option value="j">j- Noveller</option>
                        <!-- /TMPL_IF -->
			
                        <!-- TMPL_IF name="f33m" -->
                        <option value="m" selected="selected">m- Blandede former</option>
                        <!-- TMPL_ELSE -->
                        <option value="m">m- Blandede former</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f33p" -->
                        <option value="p" selected="selected">p- Dikt</option>
                        <!-- TMPL_ELSE -->
                        <option value="p">p- Dikt</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f33s" -->
                        <option value="s" selected="selected">s- Taler</option>
                        <!-- TMPL_ELSE -->
                        <option value="s">s- Taler</option>
                        <!-- /TMPL_IF -->
			
                        <!-- TMPL_IF name="f33u" -->
                        <option value="u" selected="selected">u- Ukjent</option>
                        <!-- TMPL_ELSE -->
                        <option value="u">u- Ukjent</option>
                        <!-- /TMPL_IF -->



                </select>
                </td>
        </tr>
	<tr>
                <td><label for="f34">34- Biografi</label></td>
                <td>
                <select name="f34" id="f34" size="1">
                        <!-- TMPL_IF name="f340" -->
                        <option value=" " selected="selected">#- Intet biografisk materiale</option>                              <!-- TMPL_ELSE -->
                        <option value=" ">#- Intet biografisk materiale</option>
                        <!-- /TMPL_IF -->
                        <!-- TMPL_IF name="f34a" -->
                        <option value="a" selected="selected">a- Selvbiografi</option>
                        <!-- TMPL_ELSE -->
                        <option value="a">a- Selvbiografi</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f34b" -->
                        <option value="b" selected="selected">b- Individuell biografi</option>                              <!-- TMPL_ELSE -->
                        <option value="b">b- Individuell biografi</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f34c" -->
                        <option value="c" selected="selected">c- Samlebiografi</option>                              <!-- TMPL_ELSE -->
                        <option value="c">c- Samlebiografi</option>
                        <!-- /TMPL_IF -->
			
                        <!-- TMPL_IF name="f34d" -->
                        <option value="d" selected="selected">d- Inneholder bibliografisk informasjon</option>                              <!-- TMPL_ELSE -->
                        <option value="d">d- Inneholder bibliografisk informasjon</option>
                        <!-- /TMPL_IF -->
                </select>
                </td>
        </tr>

	 <tr>

                <td><label for="f3537">35-37 Language</label> See <a href="http://www.loc.gov/marc/languages/language_code.html">MARC Code List for Languages</a></td>
                <td>
                        <input type="text" name="f3537" id="f3537" size="4"  maxlength="4" value="<!-- TMPL_VAR NAME="f3537" -->"/>
                </td>
        </tr>
	<tr>
                <td><label for="f38">38- Endret post</label></td>
                <td>                
		<select name="f38" id="f38" size="1">                        			
			<!-- TMPL_IF name="f380" -->
                        <option value=" " selected="selected">#- Ikke endret</option>
                        <!-- TMPL_ELSE -->
                        <option value=" ">#- Ikke endret</option>
                        <!-- /TMPL_IF -->
			
			<!-- TMPL_IF name="f38s" -->
                        <option value="s" selected="selected">s- Forkortet</option>
			<!-- TMPL_ELSE -->
                        <option value="s">s- Forkortet</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f38d" -->
                        <option value="d" selected="selected">d- Overstrøket informasjon er utelatt</option>
                        <!-- TMPL_ELSE -->
                        <option value="d">d- Overstrøket informasjon er utelatt</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f38x" -->
                        <option value="x" selected="selected">x- Manglende tegn</option>
                        <!-- TMPL_ELSE -->
                        <option value="x">x- Manglende tegn</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f38r" -->
                        <option value="r" selected="selected">r- Fullstendig romanisert / skrevet ut på kort vha. et skript</option>
                        <!-- TMPL_ELSE -->
                        <option value="r">r- Fullstendig romanisert / skrevet ut på kort vha. et skript</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f38o" -->
                        <option value="o" selected="selected">o- Fullt romanisert / skrevne kort er romanisert</option>
                        <!-- TMPL_ELSE -->
                        <option value="o">o- Fullt romanisert / skrevne kort er romanisert</option>
                        <!-- /TMPL_IF -->
		</select>

                </td>
        </tr>
<tr>
                <td><label for="f39">39- Katalogiseringskilde</label></td>
                <td>
                <select name="f39" id="f39" size="1">                                    
                        <!-- TMPL_IF name="f390" -->
                        <option value=" " selected="selected">#- Ansvarlig institusjon for nasjonalbibliografien</option>
                        <!-- TMPL_ELSE -->
                        <option value=" ">#- Ansvarlig institusjon for nasjonalbibliografien</option>
                        <!-- /TMPL_IF -->

                        <!-- TMPL_IF name="f39c" -->
                        <option value="c" selected="selected">c- Program for samarbeid om katalogdata</option>
                        <!-- TMPL_ELSE -->
                        <option value="c">c- Program for samarbeid om katalogdata</option>
                        <!-- /TMPL_IF -->
			<!-- TMPL_IF name="f39d" -->
                        <option value="d" selected="selected">d- Andre</option>
                        <!-- TMPL_ELSE -->
                        <option value="d">d- Andre</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f39u" -->
                        <option value="u" selected="selected">u- Ukjent</option>
                        <!-- TMPL_ELSE -->
                        <option value="u">u- Ukjent</option>
                        <!-- /TMPL_IF -->
		</select>
                </td>
        </tr>

</table>
<fieldset class="action"><input type="submit" value="OK" /> <a href="#" class="cancel close">Avbryt</a></fieldset>
</form>
<script type="text/javascript">//<![CDATA[

// Pad the string with spaces so that it is 4 characters long.
// Also, truncate strings that are longer than 4 characters.
function pad4(s) {
	var pad = "";
	if (s.length < 4) {
		var padLength = 4 - s.length;
		for (var i = 0; i < 4 - s.length; i++) {
			pad += " ";
		}
		s += pad;
	} else {
		s = s.substring(0, 4);
	}
	return s;
}

function report() {
            var doc   = opener.document; 
            var field = doc.getElementById("<!-- TMPL_VAR NAME='index'-->");
            field.value = 
			document.f_pop.f1.value+
			document.f_pop.f6.value+
			// bug 2563 {
			( document.f_pop.f710.value.match(/^\s*$/)  ? "    " : pad4(document.f_pop.f710.value)  )+
			( document.f_pop.f1114.value.match(/^\s*$/) ? "    " : pad4(document.f_pop.f1114.value) )+
			// }
			document.f_pop.f1517.value+
			document.f_pop.f1821.value+
			document.f_pop.f22.value+
			document.f_pop.f23.value+
			document.f_pop.f2427.value+
			document.f_pop.f28.value+
			document.f_pop.f29.value+
			document.f_pop.f30.value+
			document.f_pop.f31.value+ ' '+
			document.f_pop.f33.value+
			document.f_pop.f34.value+
			document.f_pop.f3537.value+
			document.f_pop.f38.value+
			document.f_pop.f39.value;
		self.close();
		return false;
	}
	//]]>
</script>

<!-- TMPL_INCLUDE NAME="popup-bottom.inc" -->
